.copyright {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 15px;
    width: 268px;
}

.full-name {
  font-family: "Lato";
}

a{
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover{
    box-shadow: 0 0 10px gray,0 0 40px gray,0 0 80px gray;
}

.projects-grid {
  display: flex;
}

.social-links {
  text-align: center;
  padding-top: 10%;
}

.social-links i {
  color: black;
  padding-bottom: 10%;
}

.full-name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.email-button{
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  margin-left: 65px;
  margin-right: 127px;
  background-color: rgb(66,66,66);
  padding-right: 0;
  padding-left: 9px;
  padding-top: 3px;
  padding-bottom: 2px;
  border-radius: 5px;
}

.skills-grid {
  margin: auto;
}

.mdl-progress-black > .progressbar {
    background-color: rgb(66,66,66) !important;
    height: 25px;
}

.mdl-progress-black > .bufferbar {
  background-image: linear-gradient(to right, rgba(255,255,255, 0.7), rgba(255,255,255, 0.7)) !important;
  border: 1px solid black;
  height: 23px;
}

.mdl-progress-black > .auxbar {
    background-image: linear-gradient(to right, rgba(255,255,255, 0.9), rgba(255,255,255, 0.9)) !important;
    height: 25px;
}
